<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="title_bg" routerLink="/users">
                User Management
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="title_bg">
                Image Upload
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="title_bg">
                Document upload
            </div>
        </div>
    </div>
</div>