<nav class="nav main-color-bg">
  <div class="nav-left" style="overflow: hidden;">
    <a class="nav-item logo" routerLink="/">
      <h1>WorkManager</h1>
    </a>
  </div>
  <div class="nav-right nav-menu" id="myNavar">
    <ng-template #guest class="box">
      <a class="nav-item" routerLink="/login">Login</a>
    </ng-template>
    <!-- User logged in -->
    <div *ngIf="auth.loggedIn; else guest">
      <div class="loggedin_bar">
        <a class="nav-item" routerLink="/users">
          Users
        </a>
        <!-- <a class="nav-item" routerLink="/uploads">
          File Uploads
        </a> -->
        <a class="nav-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>