<!-- <div>
  <h3>{{ user.firstName }}</h3>
  <span class="button is-small is-info" (click)='addHeartToNote(user.hearts)'>
    Heart <i class="fa fa-heart"></i>
  </span>
  <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete</span>
  <p>This note has been hearted {{ user.hearts || 0 }} times.</p>
</div> -->




<table class="table table-striped table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          First name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Function Location
        </th>
        <th>
          Last changed
        </th>
        <th>
          Planner group
        </th>
        <th>
          Type
        </th>
        <th>
          Username
        </th>
        <th>
          Work center
        </th>
        <th>
          Date created
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            {{ user.id }}
        </td>
        <td>
          {{user.firstName}}
        </td>
        <td>
          {{user.lastName}}
        </td>
        <td>
          {{user.functionLocation}}
        </td>
        <td>
          {{user.lastChanged}}
        </td>
        <td>
          {{user.plannerGroup}}
        </td>
        <td>
          {{user.type}}
        </td>
        <td>
          {{user.userName}}
        </td>
        <td>
        {{user.workCentre}}
        </td>
        <td>
          {{user.dateCreated}}
          
        </td>
      </tr>
    </tbody>
  </table>