<form [formGroup]="userForm" (ngSubmit)="login()">

  <h3>Existing User Login</h3>
  <hr>

  <label for="userName">userName</label>
  <input type="text" id="userName" class="input" formControlName="userName" required>

  <label for="password">Password</label>
  <input type="password" id="password" class="input" formControlName="password" required>

  <button type="submit" class="button" >Submit</button>

  <span class="help ">{{errorMsg}}</span>

  <!-- <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a> -->
  <!-- <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p> -->

</form>
